<div class="brand-carousel">
    <p-carousel [value]="slides" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions"
        [circular]="true" [autoplayInterval]="3000" [showIndicators]="false" [showNavigators]="true">

        <ng-template let-slide pTemplate="item">
            <div class="brand-slide">
                <div class="brand-logo">
                    <img [src]="slide.img" [alt]="slide.title">
                </div>
                <div class="brand-name">
                    {{ slide.title }}
                </div>
            </div>
        </ng-template>

    </p-carousel>
</div>