<div class="hero-carousel">
    <p-carousel [value]="slides" [numVisible]="1" [numScroll]="1" [responsiveOptions]="responsiveOptions"
        [circular]="true" [autoplayInterval]="7000" [showIndicators]="true" [showNavigators]="false">

        <ng-template let-slide pTemplate="item">
            <div class="carousel-slide" [style.background-image]="'url(' + slide.img + ')'">
                <div class="carousel-content" *ngIf="slide.viewInfo">
                </div>
            </div>
        </ng-template>

    </p-carousel>
</div>